html, body, #maps3d {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#map-canvas, #profile-canvas
{
	height:100%; 
	width:50%; 
	float:left;
}
body > #submitButton{
	position:absolute; 
	width: 50px;
	height: 100%;
	left: 50%; 
	top: 0;
	margin-left: -25px;
}
#settingsButton
{
	position: absolute;
	right: 25px;
	top: 25px;
}
#infoButton
{
	position: absolute;
	right: 75px;
	top: 25px;
}
#pac-input 
{
	background-color: #fff;
	padding: 0 11px 0 13px;
	width: 400px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
}
#pac-input:focus 
{
	border-color: #4d90fe;
	margin-left: -1px;
	padding-left: 14px;  /* Regular padding-left + 1. */
	width: 401px;
}
.controls {
	margin-top: 16px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}
#type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}