<div id="progressPopup" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Info</h3>
			</div>
			<div class="modal-body">
				<h4>About</h4>
				<p>Dieses Web-App wurde im Rahmen einer Semesterarbeit an der <a href="http://www.engineering.zhaw.ch/de.html" target="_blank">ZHAW School of Engineering</a> erstellt.</p>
				<p style="text-align: center;">
					<a href="http://www.tiefenauer.info/projects/maps3d" target="_blank" class="btn btn-default">Projekthomepage</a>
					<a href="https://github.com/tiefenauer/maps3D" target="_blank" class="btn btn-default">GitHub Repository</a>
				</p>
				<h4>Technologie-Stack</h4>
				<p style="text-align:center;">
					<a href="http://threejs.org/" target="_blank">
						<img src="img/logo_threejs.png" height="50"/>
					</a>
					<a href="http://backbonejs.org/" target="_blank">
						<img src="http://backbonejs.org/docs/images/backbone.png" height="50"/>
					</a>
					<a href="http://requirejs.org/" target="_blank">
						<img src="http://requirejs.org/i/logo.png" height="50"/>
					</a>
					<a href="http://getbootstrap.com/" target="_blank">
						<img src="http://media02.hongkiat.com/twitter-bootstrap/twitter-bootstrap.jpg" height="50"/>
					</a>
					<a href="http://jquery.com/" target="_blank">
						<img src="img/logo_jquery.jpg" height="50"/>
					</a>
					<a href="hhttp://jqueryui.com/" target="_blank">
						<img src="img/logo_jqueryui.jpg" height="50"/>
					</a>
					<a href="https://qunitjs.com/" target="_blank">
						<img src="img/logo_qunit.jpg" height="50"/>
					</a>
					<a href="http://sinonjs.org/" target="_blank">
						<img src="img/logo_sinon.jpg" height="50"/>
					</a>					
				</p>
			</div>					
			<div class="modal-footer">
				<p>&copy; 2014 Daniel Tiefenauer</p>
			</div>					
		</div>
	</div>
</div>