<div id="progressPopup" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4>Verarbeite...</h4>
			</div>
			<div class="modal-body">
				<p>Dies kann einige Zeit dauern, abh&auml;ngig von der Anzahl der zu ermittelnden Punkte...</p>
				<div id="progressbar" class ="progress progress-striped active">
					<div class="progress-bar" role="progressbar" style="width: <%= progress %>"></div>
				</div>
			</div>					
			<div class="modal-footer">
				<a href="#" class="btn btn-primary">Abbrechen</a>
			</div>					
		</div>
	</div>
</div>