<div id="settingsPopup" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4>Einstellungen</h4>
			</div>
			<div class="modal-body" >  
				<div class="well well-lg">
					<div style="float:left; width:50%; ">
						<strong >Auflösung</strong>
					</div>
					<div style="float:clear;">
						<input id="slider" type="text" >
					</div>
											
				</div>
			</div>					
			<div class="modal-footer">
				<a id="saveButton" href="#" class="btn btn-success">Speichern</a>
				<a id="cancelButton" href="#" class="btn btn-default">Abbrechen</a>
			</div>					
		</div>
	</div>
</div>