<div id="progressPopup" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4>Einstellungen</h4>
			</div>
			<div class="modal-body">
                <input id="slider" type="text" class="span2" value="45" data-slider-min="1" data-slider-max="100"  data-slider-step="1" data-slider-value="45" data-slider-orientation="horizontal" data-slider-selection="after">        
			</div>					
			<div class="modal-footer">
				<a href="#" class="btn btn-primary">Abbrechen</a>
			</div>					
		</div>
	</div>
</div>